SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=G089NM0JUSK
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEETS_SPREADSHEET_ID=14RmSfROInL8xHnp4xRpXBeyzNuCpfMS4FDgKM5sGVjY
GOOGLE_SHEETS_SHEET_NAME=指導中
GOOGLE_SHEETS_COLUMN_RANGE=K:K
REPORT_TIMEZONE=Asia/Tokyo
